# IDE/Code Editor Specific
.vs/
.vscode/

# Binary Outputs
Binaries/
Binaries-Int/

# Project Files
*.sln
*.vcxproj
*.filters
*.user
Makefile
**/Makefile
*.mk

# Log Outputs
*.log

# Cached Shader Files
*.cached_opengl.vert
*.cached_opengl.frag
*.cached_vulkan.vert
*.cached_vulkan.frag
